.b-pagebrowse, .tx-pagebrowse {
	display: table;
	width: 100%;
	border-bottom: 1px solid $ui-border;

	ol {
		margin: 0 auto;
		display: inline-block;
		vertical-align: bottom;
	}
	li {
		display: table-cell;
		vertical-align: bottom;

		a {

		}

		&.b-pagebrowse_item--first, &.tx-pagebrowse-first
		&.b-pagebrowse_item--last, &.tx-pagebrowse-last {
			display: none;
		}

		&.b-pagebrowse_item--prev, &.tx-pagebrowse-prev {
			padding-left: 10px;
			padding-bottom: 4px;
		}

		&.b-pagebrowse_item--next, &.tx-pagebrowse-next {
			text-align: right;
			padding-right: 10px;
			padding-bottom: 4px;
		}

		&.b-pagebrowse_item--pages, &.tx-pagebrowse-pages {
			text-align: center;

			li {
				margin: 0;

				&.b-pagebrowse_item--current {
					background: $ui-grey-light;
					@include vendor(border-top-left-radius, 3px);
					@include vendor(border-top-right-radius, 3px);
				}

				a {
					display: block;
					padding: 5px 8px 4px 8px;
				}
			}
		}
	}
}